<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Select_Client" value="0,10000,C," />
    <!--操作码min,操作码max,服务器缩减表示,协议处理程序命名空间 -->
    <add key="Select_LoginServer" value="10000,20000,L,LSProtocolHandle" />
    <add key="Select_GameServer" value="30000,40000,G,GSProtocolHandle" />
    <add key="Select_GateServer" value="40000,50000,Gate,GateSProtocolHandle" />
    <add key="Select_DBServer" value="60000,70000,D,DSProtocolHandle" />
    <add key="Select_BattleServer" value="70000,80000,B,BSProtocolHandle" />
    <add key="GameServer_Protocol_Handle_Path" value="./Hotfix/GSProtocolHandle" />
    <add key="LoginServer_Protocol_Handle_Path" value="./Hotfix/LSProtocolHandle" />
    <add key="GateServer_Protocol_Handle_Path" value="./Hotfix/GateSProtocolHandle" />
    <add key="DBServer_Protocol_Handle_Path" value="./Hotfix/DSProtocolHandle" />
    <add key="BattleServer_Protocol_Handle_Path" value="./Hotfix/BSProtocolHandle" />
  </appSettings>
</configuration>